* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #FFFDF2;
}

.nav {
    padding-top: 40px;
    padding-right: 5%;
    padding-left: 5%;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFDF2;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.navbar ul li:hover::after {
    position: relative;
    content: "";
    display: block;
    border-bottom: 1px solid black;
    margin: auto;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin: 0px 10px 0px 0px;
    transition: 0.5s all ease-in-out;
}

button:hover {
    color: black;
    background-color: #FFFDF2;
    border: 1px solid black;
}

.footer {
    width: 100%;
    background-color: #FFF9AF;
}

.foot {
    height: 350px;
    width: 80%;
    margin: auto;
}

.midcont {
    height: 350px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont1 {
    height: 300px;
    width: 24%;
}

.cont1 p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

.cont1 button {
    border: none;
    width: 45%;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    background-color: #0A2323;
    margin-top: 55%;
}

.cont1 button:hover {
    border: 1px solid black;
    background-color: #FFF9AF;
}

.cont2 {
    height: 300px;
    width: 24%;
}

.cont2 p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.cont3 {
    height: 300px;
    width: 24%;
}

.cont3 p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.cont4 {
    height: 300px;
    width: 24%;
}

.cont4 p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 3.5s;
}

.login {
    width: 100%;
    margin: 5% 0%;
}

.form {
    height: 650px;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    background-color: #FFF9AF;
}

.info {
    margin-left: 20%;
    margin-top: 3%;
}

.form p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    padding-top: 20px;
}

.form input {
    height: 40px;
    width: 75%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #FFF9AF;
    border: 0.1px solid grey;
    outline: none;
}

.form button {
    width: 25%;
    font-size: 16px;
    margin-top: 5%;
}

.form button:hover {
    background-color: #FFF9AF;
}