/* Laptop Screen */
@media (max-width:1024px) {
    .footer {
        height: auto;
    }

    .foot {
        height: auto;
    }

    .midcont {
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .cont1 button {
        margin: 15 0%;
        width: 80%;
    }

    .cont1,.cont2,.cont3,.cont4 {
        height: 300px;
        width: 100%;
        margin: 5% 2%;
    }

    .login {
        height: auto;
    }

    .form {
        height: auto;
        width: 60%;
        margin: 15% auto;
    }

    .container1 {
        height: auto;
    }

    .info {
        height: auto;   
    }


    .form button {
        width: 65%;
    }

    .tag {
        padding-bottom: 15%;
    }
}

/* Tablet Screen */ 
@media (max-width:768px) {
    .hero {
        height: auto;
        width: auto;
    }

    .nav {
        height: auto;
    }

    .navbar {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .tag {
        margin-top: 3%;
        padding: 0%;
    }

    .navbar ul {
        width: auto;
        display: flex;
        flex-direction: row;
        padding: 15px 0px;
    }

    .navbar ul li {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .footer {
        height: auto;
    }

    .foot {
        height: auto;
    }

    .midcont {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .cont1 button {
        margin: 5%;
    }

    .cont1,.cont2,.cont3,.cont4 {
        height: auto;
        width: 100%;
        margin: 5% 0%;
    }

    .login {
        height: auto;
    }

    .form {
        height: auto;
        width: 60%;
        margin: 15% auto;
    }

    .container1 {
        height: auto;
    }

    .info {
        height: auto;   
    }

    .form button {
        width: 40%;
    }

    .tag {
        padding-bottom: 15%;
    }
}

/* Mobile Screen */ 
@media (max-width:480px) {
    .hero {
        height: auto;
    }

    .nav {
        height: auto;
    }

    .navbar {
        height: auto;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin-top: 15%;
        margin-bottom: 25%;
    }

    .footer {
        height: auto;
    }

    .foot {
        height: auto;
    }

    .midcont {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .cont1 button {
        margin: 5%;
    }

    .cont1,.cont2,.cont3,.cont4 {
        height: auto;
        width: 100%;
        margin: 5% 0%;
    }

    .login {
        height: auto;
    }

    .form {
        height: auto;
        width: 90%;
        margin: 15% auto;
    }

    .container1 {
        height: auto;
    }

    .info {
        height: auto;   
    }

    .form button {
        width: 40%;
    }

    .tag {
        padding-bottom: 15%;
    }
}   