* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #FFFDF2;
}

.hero {
    height: 900px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("Images/banner1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    padding-top: 40px;
    padding-right: 5%;
    padding-left: 5%;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFDF2;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.navbar ul li:hover::after {
    position: relative;
    content: "";
    display: block;
    border-bottom: 1px solid black;
    margin: auto;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin: 0px 10px 0px 0px;
    transition: 0.5s all ease-in-out;
}

button:hover {
    color: black;
    background-color: #FFFDF2;
    border: 1px solid black;
}

.bannertext {
    height: 500px;
    width: 100%;
    margin-top: 10%;
}

.tex1 {
    color: white;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
}

.tex2 {
    color: white;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}

#small {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: white;
}

.btn2 {
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 25px;
    background-color: #FFFDF2;
    color: black;
    font-size: 16px;
    font-weight: 700;
    transition: 0.4s all ease-in-out;
}

.btn2:hover {
    color: white;
    background-color: transparent;
    border: 1px solid #FFF9AF;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 3.5s;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 2s;
}

.table {
    width: 100%;
    margin-bottom: 15%;
}

.form {
    height: 400px;
    width: 90%;
    margin: auto;
}

.formtable {
    height: 530px;
    margin-top: -10%;
    width: 45%;
    margin-left: 55%;
    background-color: #FFF9AF;
    border-radius: 20px;
    padding: 0%;
}

.centertext {
    height: 100px;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding: 8px 0px;
}

.centertext p {
    font-size: 35px;
}

.content {
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 0%;
}

.c1 {
    display: flex;
}

#detail1 .c1 {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

#detail1 p {
    font-size: 20px;
}

#detail1 input {
    height: 40px;
    width: 210px;
    border: 1px solid black;
    background-color: #FFF9AF;
    border-radius: 10px;
}

#detail2 .c2 {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

#detail2 p {
    font-size: 20px;
}

#detail2 input {
    height: 40px;
    width: 210px;
    border: 1px solid black;
    background-color: #FFF9AF;
    border-radius: 10px;
}

#detail3 .c3 {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

#detail3 p {
    font-size: 20px;
}

#detail3 input {
    height: 40px;
    width: 210px;
    border: 1px solid black;
    background-color: #FFF9AF;
    border-radius: 10px;
}

.c1 p,
.c2 p,
.c3 p {
    margin: 20px 0px;
}

.content button {
    margin-top: 4%;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.content button:hover {
    background-color: #FFF9AF;
}

.blocks {
    height: auto;
    width: 100%;
    margin-bottom: 10%;
}

.blockcontent {
    height: 400px;
    width: 90%;
    margin: auto;
}

#text {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
}

.fourblocks {
    height: 350px;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.one,
.two,
.three,
.four {
    height: 350px;
    width: 24%;
    background-color: #FFF9AF;
    padding: 40px 30px;
}

.one p,
.two p,
.three p,
.four p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
    margin-top: 15px;
    padding-bottom: 10px;
}

.background {
    height: 1200px;
    width: 100%;
    background-color: #4C5B5C;
    margin: 0%;
}

.back {
    height: 980px;
    width: 90%;
    margin: auto;
}

.t {
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    color: white;
    padding-top: 5%;
}

.animationbox {
    height: 750px;
    width: 90%;
    margin: 70px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.box1,
.box2,
.box3 {
    height: 750px;
    width: 32%;
    border-radius: 20px;
    overflow: hidden;
}

.box1:hover .image1,
.box2:hover .image2,
.box3:hover .image3 {
    transform: scale(1.04);
}

.image1 {
    height: 750px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("Images/box1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.8s ease;
}

.image2 {
    height: 750px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("Images/box2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.8s ease;
}

.image3 {
    height: 750px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("Images/box3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.8s ease;
}

.back button {
    width: 20%;
    background-color: #FFF9AF;
    color: black;
    border: none;
    font-size: 16px;
}

.back button:hover {
    background-color: #4C5B5C;
    color: white;
    border: 1px solid #FFF9AF;
}

.featurebg {
    height: auto;
    width: 100%;
    margin-top: 5%;
}

.feature {
    height: auto;
    width: 90%;
    margin: auto;
    background-color: #FFF9AF;
}

.feature .content {
    height: auto;
    width: 95%;
}

.feature .content p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    padding-top: 80px;
}

.brandname {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0% auto;
}

.brand {
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.brand img {
    margin: 0% 40px;
    line-height: 200px;
}

.a-and-b {
    height: auto;
    width: 100%;
    margin-top: 5%;
}

.clean {
    height: auto;
    width: 90%;
    margin: auto;
}

.words p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

.clean .carpet {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin-top: 0.5%;
}

.pics {
    height: auto;
    width: 100%;
    margin-top: 1.5%;
}

.twopics {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pik {
    height: auto;
    width: 100%;
    margin: auto;
}

.onepic img {
    border-radius: 15px;
}

.twopic img {
    border-radius: 15px;
}

.pik .caption {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    margin-top: 2%;
}

.HowitWorks {
    height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(16, 48, 78, 0.459), rgba(16, 48, 78, 0.288)), url("Images/banner2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    display: flex;
    align-items: center;
}

.workcont {
    height: 200px;
    width: 70%;
    margin: auto;
    color: black;
}

.iconcontent {
    height: auto;
    width: 100%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
}

.icon1 {
    height: 200px;
    width: 20%;
}

.icon1 .img {
    height: 120px;
    width: 50%;
    margin: auto;
    display: flex;
}

.icon1 .img i {
    margin: auto;
    background-color: #FFF9AF;
    border-radius: 50%;
    padding: 20px;
}

.icon1 p {
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: white;
}

.icon2 {
    height: 200px;
    width: 20%;
}

.icon2 .img {
    height: 120px;
    width: 50%;
    margin: auto;
    display: flex;
}

.icon2 .img i {
    margin: auto;
    background-color: #FFF9AF;
    border-radius: 50%;
    padding: 20px;
}

.icon2 p {
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: white;
}

.icon3 {
    height: 200px;
    width: 20%;
}

.icon3 .img {
    height: 120px;
    width: 50%;
    margin: auto;
    display: flex;
}

.icon3 .img i {
    margin: auto;
    background-color: #FFF9AF;
    border-radius: 50%;
    padding: 20px;
}

.icon3 p {
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: white;
}

.icon4 {
    height: 200px;
    width: 20%;
}

.icon4 .img {
    height: 120px;
    width: 50%;
    margin: auto;
    display: flex;
}

.icon4 .img i {
    margin: auto;
    background-color: #FFF9AF;
    border-radius: 50%;
    padding: 20px;
}

.icon4 p {
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: white;
}

.cont {
    height: auto;
    width: 100%;
    background-color: #4C5B5C;
}

.down {
    height: 700px;
    width: 90%;
    margin: auto;
    display: flex;
}

.twocont {
    height: 700px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontal {
    height: auto;
    width: 45%;
}

.horizontal p {
    height: auto;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
    color: white;
}

.horizontal button {
    background-color: #FFFDF2;
    color: black;
    border: none;
    width: 70%;
    font-size: 16px;
}

.horizontal button:hover {
    background-color: #4C5B5C;
    color: white;
    border: 1px solid #FFF9AF;
}

.vertical {
    height: 500px;
    width: 31%;
    background-color: white;
    border-radius: 20px;
}

.up {
    height: auto;
    width: 100%;
    background-color: #FFF9AF;
    border-radius: 20px 20px 0px 0px;
}

.vertical .up .bestvalue {
    height: 25px;
    width: 35%;
    text-align: center;
    line-height: 25px;
    background-color: #0A2323;
    color: white;
}

.up p {
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.up button {
    width: 50%;
    border: none;
}

.up button:hover {
    background-color: #FFF9AF;
    border: 1px solid black;
}

.paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph p {
    padding: 10px 0px;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.choose {
    height: auto;
    width: 100%;
    background-color: #FFFDF2;
}

.fixed {
    height: 700px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.attach {
    height: 550px;
    width: 35%;
    background-image: url("Images/attach.webp");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-attachment: fixed;
    margin-right: 10%;
}

.star {
    height: 500px;
    width: 50%;
}

.star p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
}

.keypoints {
    height: auto;
    width: 90%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.qualified {
    height: 170px;
    width: 48%;
}

.keypoints a button {
    height: 50px;
    width: 100%;
    border: none;
    background-color: #0A2323;
    font-family: "Roboto", serif;
    padding: 10px;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: white;
}

.keypoints button:hover {
    background-color: #FFFDF2;
    border: 1px solid #0A2323;
    color: black;
}

.banner3 {
    height: 700px;
    width: 100%;
    background-image: url("Images/banner3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    width: 100%;
    background-color: #FFF9AF;
}

.foot {
    height: 350px;
    width: 80%;
    margin: auto;
}

.midcont {
    height: 350px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont1 {
    height: 300px;
    width: 24%;
}

.cont1 p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

.cont1 button {
    border: none;
    width: 45%;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    background-color: #0A2323;
    margin-top: 55%;
}

.cont1 button:hover {
    border: 1px solid black;
    background-color: #FFF9AF;
}

.cont2 {
    height: 300px;
    width: 24%;
}

.cont2 p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.cont3 {
    height: 300px;
    width: 24%;
}

.cont3 p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.cont4 {
    height: 300px;
    width: 24%;
}

.cont4 p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}